<!DOCTYPE html>
<html>
  <head>
    <title>My first express app</title>
  </head>
  <body>
    <h1>Prep for Prep</h1>
    <p>Live your life</p>

    <form method="POST">
      <p>Enter your breakfast: <input name="breakfast" /></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
